---
layout: home
---

<h1>Quantum Scientists Action Statement for Black Lives</h1> 

<hr>
<h2>Signatories</h2>


<hr>
<h2> Add your name to this pledge</h2>
  <p>Join us in sending a clear message that the quantum research community will no longer stand for racist violence and that Black lives do matter.</p>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfXrA5xHWZS3qZfZinABQOlx2M1f3g1yBl9cph6_OteVcOykw/viewform?embedded=true" width="640" height="650" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
	

  <hr>
<h2> Submit an action plan </h2>

<p>It’s one thing to sign a letter stating your support of a position. It’s another thing to commit to joining campaigns and writing codes of conduct. We can support each other in this. If you think it will be helpful to you in your work, send us a summary of your plan for action, in whatever capacity you are working. We’ll organize a slack channel where we can talk about how things are going and send out email reminders of your commitments in a few months.</p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdRL-cd4dja4p_D9_mhDoJM54LGN9kOPLClmpOzi2DaJ2mAXQ/viewform?embedded=true" width="640" height="1550" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  
  <blockquote><em>For more resources and to continue the discussion, <a href="https://join.slack.com/t/quantumforblacklives/shared_invite/zt-ewh0c6s3-2FQvyRi7xjliW6DR5Odgww">join our slack</a>.</em></blockquote>

<hr>  
<h3>Here are some plans submitted by others:</h3>
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
